.body-container {

        width:1100px;
        margin: 0 auto;
}

.flex-container1 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 1080px;
    height: 600px;


}
.flex-container2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 1080px;
    height: auto;

}
.flex-item {
    background-color: #ffffff;
    width: 1000px;
    height: auto;
    margin: 10px;
    <div class="flex-item"><img src="red-s.jpg" style="width:wwpx;height:hhpx;" align="left" hspace="30" />column 1</div>
}

.flex-item1 {
    background-color: #ffffff;
    width: 1000px;
    height: auto;
    margin: 10px;

}

.drop-cap::first-letter {
  font-size: 4em;
  color: red;
}

img {
    display: block;
    margin: auto;
    }

blockquote {
  border-top: solid 3px #333;
  border-bottom: solid 3px #333;
  padding: 10px 0;
  font-size: 200%
}

p:first-child::first-letter {
  font-size: 4em;
  color: red;
  line-height: 60px;
  float: left;
}
